antlr4-python3-runtime==4.7.1
argh==0.26.2
click==7.1.2
coloredlogs==15.0
humanfriendly==9.1
Jinja2==2.11.3
MarkupSafe==1.1.1
path.py==12.5.0
pathtools==0.1.2
PyYAML==5.4.1
six==1.15.0
typing==3.7.4.3
watchdog==2.0.2
pytest==6.2.3
pytest-cov==2.11.1
